<a href="https://colab.research.google.com/github/rmishra3/Python-Basics/blob/main/Basics_Chapter_1_Python_Data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# C: Creating Variables

In [ ]:
# List Variable
list_var = [1,22,32,12,'ter',2.14]
list_var

[1, 22, 32, 12, 'ter', 2.14]

In [ ]:
# Creation of DataFrame
import pandas as pd

# create a dictionary with the data
data = {'Name': ['John', 'Emily', 'Tom', 'Harry'],
        'Age': [25, 30, 20, 28],
        'Country': ['USA', 'Canada', 'UK', 'Australia']}

# create a data frame from the dictionary
df = pd.DataFrame(data)

# print the data frame
print(df)

    Name  Age    Country
0   John   25        USA
1  Emily   30     Canada
2    Tom   20         UK
3  Harry   28  Australia

In [ ]:
# set Variable: keeps the Unique values
set_var={1,3,2,4,4,5,4,4}
set_var
list_set_var=list(set_var) # Generally used

In [ ]:
# Dictionary Variable
dict_var={
    'Name': 'Ram',
    'Roll Number': 17,
    'Age': 35
}
dict_var['Name']

'Ram'

In [ ]:
# Tuple: Similar to list but it can not be edited (immutable)
tuple_var=(1,2,5,45,'k')
tuple_var

(1, 2, 5, 45, 'k')

# R: Read

In [ ]:
list_var[-1]
len(list_var)
list_var

[1, 22, 32, 12, 'tt', 2.14]

In [ ]:
dict_var['Age']
dict_var
dict_var.keys()
dict_var.values()
len(dict_var)

3

# U: Update

In [ ]:
list_var
list_var.append(25)
list_var
list_var[2]
list_var[2]=136
list_var.insert(2,'Elon Musk')
list_var

[1, 22, 'Elon Musk', 136, 12, 'tt', 2.14, 25, 25, 25, 25, 25, 25, 25, 25, 25]

In [ ]:
# Dictionary Variable
# Transfer value from a dictionary to another variable
dict_var
roll=dict_var['Roll Number']
roll
type(roll)
# Add another key and value in an existing dictionary
dict_var['City']='Delhi'
dict_var

{'Name': 'Ram', 'Roll Number': 17, 'Age': 35, 'City': 'Delhi'}

# D: Delete

In [ ]:
del list_var[3]
list_var

[1, 22, 'Elon Musk', 12, 'tt', 2.14, 25, 25, 25, 25, 25, 25, 25, 25, 25]

In [ ]:
del dict_var['City']
dict_var

{'Name': 'Ram', 'Roll Number': 17, 'Age': 35}

# E: Edit