# C: Creating Variables

In [19]:
# List Variable
list_var = [1,22,32,12,'tt',2.14]
list_var

[1, 22, 32, 12, 'tt', 2.14]

In [23]:
# set Variable: keeps the Unique values
set_var={1,3,2,4,4,5,4,4}
set_var
list_set_var=list(set_var) # Generally used

In [30]:
# Dictionary Variable
dict_var={
    'Name': 'Ram',
    'Roll Number': 17,
    'Age': 35
}
dict_var['Name']

'Ram'

In [28]:
# Tuple: Similar to list but it can not be edited (immutable)
tuple_var=(1,2,5,45,'k')
tuple_var

(1, 2, 5, 45, 'k')

# R: Read

In [39]:
list_var[-1]
len(list_var)
list_var

[1, 22, 32, 12, 'tt', 2.14]

In [40]:
dict_var['Age']
dict_var
dict_var.keys()
dict_var.values()
len(dict_var)

3

# U: Update

In [52]:
list_var
list_var.append(25)
list_var
list_var[2]
list_var[2]=136
list_var.insert(2,'Elon Musk')
list_var

[1, 22, 'Elon Musk', 136, 12, 'tt', 2.14, 25, 25, 25, 25, 25, 25, 25, 25, 25]

In [58]:
# Dictionary Variable
# Transfer value from a dictionary to another variable
dict_var
roll=dict_var['Roll Number']
roll
type(roll)
# Add another key and value in an existing dictionary
dict_var['City']='Delhi'
dict_var

{'Name': 'Ram', 'Roll Number': 17, 'Age': 35, 'City': 'Delhi'}

# D: Delete

In [53]:
del list_var[3]
list_var

[1, 22, 'Elon Musk', 12, 'tt', 2.14, 25, 25, 25, 25, 25, 25, 25, 25, 25]

In [60]:
del dict_var['City']
dict_var

{'Name': 'Ram', 'Roll Number': 17, 'Age': 35}

# E: Edit